.container{
  margin-top: 8em;  
}
.title{
  margin-left: 15em;
  margin-bottom: 2em;
}

input{
  width: 76rem;
}

.message-exception{
  margin-left: -7em;
  margin-top: 5em;
}

.alert{
  position: relative;
  width: 17%;
  padding: 0.75rem 1.25rem;
  margin: 0 auto;
  top: 5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}