<div [hidden]="!isShowDiv" class="message message-success" role="alert">
    Atendimento Finalizado com Sucesso!
</div>
<div class="container">  
<h1 class="title">Atendimentos a Realizar</h1>    
<div class="field is-grouped">
  <p class="control is-expanded">
    <input class="input" type="text" placeholder="Pesquisar por um cliente" [(ngModel)]="searchTerm" (input)="applyFilter()">
  </p>
  <p class="control">
    <button (click)="onSearch()" class="button is-info" style="margin-right: 14px;">
      Pesquisar
    </button>
  </p>
</div>

 <div class="message-exception" *ngIf="!clients || clients.length === 0">
  <h3 class="title">Nenhum cliente realizou agendamento</h3>
</div>

<div *ngIf="clients && clients.length > 0">
  <p-table    
    #table
    showGridlines
    [value]="clients"
    [tableStyle]="{ 'width': '83rem' }" 
    [globalFilterFields]="['name', 'phone', 'email', 'data_agendamento', 'hora_agendamento']"
    [paginator]="true"           
    [rows]="7"    
    [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th>Cod</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Data</th>
          <th>Hora</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.phone }}</td>
          <td>{{ product.email }}</td>
          <td>{{ product.data_agendamento }}</td>
          <td>{{ product.hora_agendamento }}</td>
          <td>
            <p-button 
              label="Encerrar Atendimento" 
              severity="success" 
              (onClick)="finallyClient(product)" />
          </td>
        </tr>
      </ng-template>
  </p-table>
 
</div>
</div>


